#experience-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    margin-top: 50px;
}

.experience-card{
background:#161B22;
border-radius:20px;
padding:35px;
margin:40px auto;
max-width:900px;
border:1px solid #2d333b;
}

.experience-card:hover{
box-shadow:
0 0 30px rgba(187,134,252,.5);
transform:translateY(-5px);
}

.skills-list{
color:#00E5FF;
}

.back-button{
display:inline-block;
margin:40px;
padding:15px 35px;
background:#BB86FC;
color:white;
border-radius:8px;
text-decoration:none;
transition:.3s;
}

.back-button:hover{
background:#00E5FF;
color:#0D1117;
box-shadow:0 0 20px #00E5FF;
}